
		
		i{
			color:black;
		}
		a{
			color: black;
			font-family: Dokdo;
		}
		.p-2 {
			font-size:40px;
		}

		.videoText{
			font-weight:bolder; 
			line-height:40px;
			font-size:20px;
			padding:30px;
		}
		.gohome{
			position:fixed;
			right:50px;
			bottom: 50px;
			z-index: -1;
		}
		.inner{
			width: 270px;
			height:200px;
			padding:10px;
		}
